 body{
    background-color: coral;
}
 .div1{
    text-align: center;
    width:100px;
    margin-left: 100px;
}

.div1{
    text-align: center;
    background-color: coral;
    width: 150px;
    text-align: center;
}

