.a1,.b1,.c1{
    text-align: center;
    border-radius: 50px;
    width: 300px;
    height: 300px;
    float: left;
    /* margin-left:3px; */
}
.ab{
    border-radius: 50px;
    margin-left: 5px;
}